fastapi==0.115.9
uvicorn==0.22.0
langchain==0.3.25
langchain-community==0.3.23
langchain-google-genai==2.1.4
python-dotenv==1.1.0
chromadb==1.0.8
pydantic==2.11.4
google-ai-generativelanguage==0.6.18
